$unit: 3px

body.stripe_patterns
  section
    margin: 1%
    float: left
    width: 30%
    &.alternating li
      &:nth-child(even)
        background-color: #fff
    &.padded li
      margin-bottom: 2*$unit
    &.spaced li
      @for $i from 1 through 10
        &:nth-child(#{$i})
          margin-bottom: $unit * fibonacci($i)
  ol
    list-style-type: none
    padding: 0
    margin: 0
    border-bottom: $unit solid #ccc
    li
      display: block
      background-color: #ccf
      @for $i from 1 through 11
        &:nth-child(#{$i})
          height: $unit * fibonacci($i)

